<!DOCTYPE HTML>
<html>
<head>
    <title>JPA 웹 전자제품 쇼핑몰</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>