{{>layouts/header}}
{{>layouts/nav}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 font-italic">내 정보</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card border mb-3" style="max-width: 30rem;">
                <div class="card-header">내 정보</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">이름 :</p>
                    <p class="card-text">이메일 :</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border mb-3" style="max-width: 30rem;">
                <div class="card-header">구매내역</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">주문내역 :</p>
                    <p class="card-text">배송 중</p>
                    <p class="card-text">장바구니</p>
                    <p class="card-text">찜한 상품</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layouts/footer}}